/* Additional styling for WhatsToday app */

#dateInfo{
  width: 16em;
  font-size:1em;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: whitesmoke;
  border: rgb(238, 84, 107) 5px solid;
  border-radius: 35px;
  animation-name: stretch;
  animation-duration: 2.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 2;
  animation-direction: alternate;
  animation-iteration-count:2;
  animation-fill-mode: none;
  animation-play-state: running;
}

#dateInfo h2{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes stretch {
  0% {
    transform: scale(.1);
    background-color: powderblue;
    border-radius: 100%;
  }
  10% {
    transform: scale(.1);
    background-color:lightskyblue;
    border-radius: 100%;
  }
  20% {
      transform: scale(.1);
      background-color: lightsteelblue;
      border-radius: 100%;
    }
  50% {
    background-color: skyblue;
    border-radius: 80%;
  }
  100% {
    transform: scale(1.5);
    background-color:rgb(237, 243, 250);
  }
}

/*--scroll button--*/
#topbtn{
  display: none;
  position: fixed;
  right: 0px;
  bottom: 10px;
  font-size: 30px;
  background-color: #ebb267;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: red;
}

#topbtn:hover{
  color: darkslategrey;
  background-color: gainsboro;
}

/*--weather dialogbox--*/
.ui-dialog .ui-dialog-content {
  font-family: 'Fredoka One', cursive;
  border: 0;
  margin: 0;
  background:whitesmoke;  
  overflow: auto;
  zoom: 1;
}

/* calender setting*/
ul,li {
  list-style-type: none;
  padding: 0;
}

.month {
  padding: 5px 5px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
  background: darkcyan;
  text-align: center;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weekdays {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: darkorange;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

.weekdays li .weekend{
  color:rgb(6, 6, 111);
  font-weight: bold;
}

.days {
  padding: 10px 0px;
  background: #eee;
  margin: 0;
  padding-bottom: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.days li {
  color: black;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5
}

.days li .today {
  padding: 5px;
  background: lightblue;
  color: white !important
}

.days li .today-holiday {
  padding: 5px;
  background: lightblue;
  color:rgb(238, 84, 107) !important
}

.days li .holiday {
  border: solid 5px rgb(238, 84, 107);
  border-radius: 20px;
}

/*------------------------*/

/* Loader */

 #loader{
  border: 16px solid #eee;
  border-top:16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} 