
#dateInfo{
    width: 20em;
    font-size:1em;
    align-content: center;
    margin: 0 auto;
    background-color: aliceblue;
    border: aliceblue 1px solid;
    border-radius: 35px;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 2;
    animation-direction: alternate;
    animation-iteration-count:2;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
      transform: scale(.1);
      background-color: powderblue;
      border-radius: 100%;
    }
    20% {
        transform: scale(.1);
        background-color: lightsteelblue;
        border-radius: 100%;
      }
    50% {
      background-color: skyblue;
      border-radius: 80%;
    }
    100% {
      transform: scale(1.5);
      background-color:lightsteelblue;
    }
  }